__pycache__/
logs/
*.ipynb
.vscode/
data_challenge/
data/feedback.json
generated_prompt.md
firestore-key.json
*.excalidraw
*.png
# gtfs_data/*
# !gtfs_data/file_mapping.json
# !gtfs_data/feed_pickles/
