matplotlib
folium
mapclassify
pandas
numpy
streamlit
streamlit-folium
openai
anthropic>=0.34.1
groq==0.12.0
partridge
geopandas
gtfs_kit
google-cloud-firestore
pytz
pydantic
google-auth
google-auth-httplib2
google-api-python-client
plotly
nbformat
streamlit_extras
geopy
thefuzz
tabulate
googlemaps
branca
stqdm
traceloop-sdk>=0.33.5
psutil